body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-image: url(./assets/pexels-pixabay-279857.jpg);
  background-size: cover;
  background-position: bottom;
}

header {
  height: 30vh;
  display: flex;
  justify-content: center;
}

.header-div {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

p {
  margin: 1px;
  font-weight: 300;
  background-color: #fff;
}

.cards {
  margin: 50px auto;
  width: 90%;
  height: 600px;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .loading-bar {
  width: 200px;
  height: 3em; em best for media query - want height of a loading bar to scale with the text inside of it
  background-color: yellowgreen;
  border-radius: 0.75em;
  color: brown;
  position: relative;
} */

 /* .loading-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  width: calc(var(--width, 0)* 1%); tlele mi vse sfrka - da v stolpec, ne v vrstico
  min-width: 2rem; show small progress bar at the beginning instead of nothing
  max-width: calc(100% - 0.5em);
  background-color: white;
  border-radius: 1em;
  padding: 1em;
} 
*/

.card-back {
  width: inherit;
}

.card-name {
  color: rgba(255, 255, 255, 0.616);
  background: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.loading-bar {
  color: black;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.card-info {
  /* display: none; */
}

.killer-deck {
  width: 250px;
  height: 400px;
  background: rgb(58, 58, 58);
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
}

.killer-deck:hover {
  box-shadow: 0 8px 16px 0 rgba(247, 243, 243, 0.411);
  cursor: pointer;
}

.weapon-deck {
  width: 250px;
  height: 400px;
  background: rgb(10, 53, 10);
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.weapon-deck:hover {
  box-shadow: 0 8px 16px 0 rgba(247, 243, 243, 0.411);
  cursor: pointer;
}

.room-deck {
  width: 250px;
  height: 400px;
  background: midnightblue;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}
.room-deck:hover {
  box-shadow: 0 8px 16px 0 rgba(247, 243, 243, 0.411);
  cursor: pointer;
}

.mystery-reveal {
  width: 90%;
  margin: 50px auto;
}

h1 {
  font-size: 25px;
  color: white;
  text-align: center;
}

button {
  padding: 8px 16px;
  background: crimson;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

button:hover { 
  box-shadow: 0 8px 16px 0 rgba(247, 243, 243, 0.411);
  cursor: pointer;
}

footer {
  background: black;
  text-align: center;
  margin-top: 60px;
  padding: 25px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}

footer p {
  background-color: inherit;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.555);
}
